.card {
    margin-top: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50px;
    left: 50px;
    
}