<br>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">
        <div  class="d-flex">
              <button routerLink="/login"  class="btn-btn-danger  mx-2">Logout</button>
        </div>
        
    </span>
  </nav>
  


        <h1 style="color: aliceblue;">Add Ingredients</h1>
        

<div class="container body-content " >
    <h2>Add ingredients</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Ingredients</th>
            <th>Quantity</th>
            
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ingredient of myingredients">
            <td>{{ingredient.id}}</td>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.quantity}}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="editIngredients(ingredient)">Edit</button></td>
            <td>
               
               <button type="button" (click)="deleteIngredients(ingredient)" class="btn btn-danger">Delete</button>
              </td>
             </tr>
            
        </tbody>
    </table>

    <button type="submit" (click)='addIngredients()'>Add Ingredients</button>

</div>

 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Update Ingredients</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>  
        </div>
        <div class="modal-body">
            <form #updateForm="ngForm" (ngSubmit)="updateIngredients()">
              <div class="form-group">
                <label for="rollNumber">ID:</label>
                <input type="text" disabled #rollNumber [(ngModel)]="ingredientsToUpdate.id" name="rollNumber" id="rollNumber"
                  class="form-control" placeholder="Id">
              </div>
              <div class="form-group">
                <label for="name"> Name :</label>
                <input type="text" #name [(ngModel)]="ingredientsToUpdate.name" name="name" id="name" class="form-control"
                  placeholder=" Name">
              </div>
              <div class="form-group">
                <label for="address"> Quantity :</label>
                <input type="text" #address [(ngModel)]="ingredientsToUpdate.quantity" name="address" id="address"
                  class="form-control" placeholder="Quantity">
              </div>
            
              <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary w-100">
              </div>
            </form>
          </div>
       
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="addIngredients()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateIngredients()" class="btn btn-primary">Update</button>
          
        </div>
       
            

      
      </div>
    </div>
  </div>